---
import { Image } from "astro:assets";
import logo from "@/assets/logo.png";

interface Props {
	name: string;
	hideGioltBranding: boolean;
}

const { name, hideGioltBranding } = Astro.props;
---


<footer class="container flex flex-col justify-center items-center text-center p-8">
	<p class="text-base-content/75 text-lg">
		{name}
	</p>
	{!hideGioltBranding ?
		<a
			href="https://giolt.com"
			target="_blank"
			class="btn btn-link"
		>
			<span>
				Made with
			</span>
			<Image
				src={logo}
				width={32}
				height={32}
				alt="Giolt Logo"
				class="w-4 h-4 rounded-full border border-base-300"
			/>
			<span>
				Giolt
			</span>
		</a>
	: null}
</footer>
