---
import { Image } from "astro:assets";
import logo from "@/assets/logo.png";
---


<footer class="container flex flex-col justify-center items-center text-center p-8">
	<a
		href="https://giolt.com"
		target="_blank"
		class="btn btn-link"
	>
		<span>
			Made with
		</span>
		<Image
			src={logo}
			width={32}
			height={32}
			alt="Giolt Logo"
			class="w-4 h-4 rounded-full border border-base-300"
		/>
		<span>
			Giolt
		</span>
	</a>
</footer>
