---
import { type OrganizationMembership, clerkClient } from "@clerk/astro/server";

interface Props {
	orgId: string;
	enabled: boolean;
}

const { orgId, enabled } = Astro.props;

let members: OrganizationMembership[] = [];

if (enabled) {
	members = await clerkClient(Astro)
		.organizations.getOrganizationMembershipList({
			organizationId: orgId,
		})
		.then((response) => response.data);
}
---

{enabled ?
	<div>
		<h2 class="text-xl font-bold text-base-content/75">
			Team
		</h2>
		<div class="divider mt-0"></div>
		<div
			class="flex flex-row gap-2"
		>
			{members.map((member) => (
				<div
					class="bg-base-200 border border-base-300 rounded-box py-4 px-2 flex flex-col items-center justify-center gap-2 text-center"
				>
					<img
						src={member.publicUserData?.imageUrl}
						alt={member.publicUserData?.firstName}
						class="w-16 h-16 rounded-full"
					/>
					<p>
						{`${member.publicUserData?.firstName} ${member.publicUserData?.lastName}`}
					</p>
					<span
						class="badge"
					>
						{member.role.split("org:")[1][0].toUpperCase() + member.role.split("org:")[1].slice(1)}
					</span>
				</div>
			))}
		</div>
	</div>
: null}
