---
import Layout from "@/layouts/base-layout.astro";

export const prerender = true;
---

<Layout
	title="Not found"
	class="container flex flex-col gap-2 justify-center items-center text-center"
>
	<h1
		class="text-5xl font-bold"
	>
		404
	</h1>
	<p>
		The page you are trying to reach is not available.
	</p>
</Layout>
